<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
</head>
<body>
    <h1>Lista de Usuários</h1>
    <% dados.each do |usuario| %>
        <div>
            <p>ID: <%= usuario[:id] %></p>
            <p>Login: <%= usuario[:login] %></p>
            <p>Senha: <%= usuario[:senha] %></p>
            <p>Email: <%= usuario[:email] %></p>
        </div>
        <hr>
    <% end %>
</body>
</html>